<!DOCTYPE html>
<html>
  
  
<!-- ইনশাআল্লাহ  بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> সুরক্ষা ক্লোন </title>
  <!-- link Section -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
<link rel="stylesheet" href="/file/css/clone.css">
<link rel="stylesheet" href="/file/css/Header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
   <!-- 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
   
   -->
</head>

<body>
  <header>
    <nav>
    
      <div id="nav-div-1">
        <button class="toggle-btn" style="border: none" id="nav-menu-btn">
          <i 
          style="font-size: 20px"
          class="fa-solid fa-bars">
          </i>
        </button>
  
      </div>
      <div id="bar" class="menu-bar ">
        <button class="cencel-Btn">
          <i class="fa-solid fa-cancel "></i>
        </button>
        <div id="menu-bar-logo-div" class="menu-bar-items">
          <img class="logo" src="http://localhost:4000/file/image/logo.png" alt="logo">
          <p>
            Denmark
          </p>
          
        </div>
        
        <div class="menu-bar-items">
         <a> নতুন এনআইডি</a>
        </div>
          <div class="menu-bar-items">
         <a> পূরাতন নিবন্ধন </a>
        </div>
        <div class="menu-bar-items">
      <a>মৃত্যু নিবন্ধন </a>
        </div>
          <div class="menu-bar-items">
      <a>সার্ভার কপি </a>
        </div>
        
          <div class="menu-bar-items">
      <a> সুরক্ষা ক্লোন</a>
        </div>
        <div class="menu-bar-items">
          <a>প্রোপাইল</a>
        </div>
        
      </div>
      <div id="nav-div-2">
        <p class="nav-text">
          <b>Hello!</b> Denmark, Welcome to Pro Server. Be very careful and stay safe.
        </p>
      </div>
      <div id="nav-div-3">
        <span id="balance-span">
          টাকা ৫
        </span>
        <button id="nav-div3-btn2">
          <i style="padding: 0px 7px 0px 7px; font-size: 20px" class="fa-regular fa-bell"></i>
        </button>
    
        <button style="padding: none;border: none;" id="nav-div3-btn3">
          <img src="http://localhost:4000/file/image/avater.png" " alt="profile">
        </button>
        <div class="ProfileSlider">
          <i style="font-size: 1.5em ; color: black ;" class="fa-solid fa-user-check"></i>
            <div><i class="fa fa-user" aria-hidden="true"></i><a href="/page/profile"> Profile </a></div>
            <div>  <i class="fa fa-sign-out" aria-hidden="true"></i><a > Log Out </a></div>
            <div> <i class="fa fa-user-times" aria-hidden="true"></i> <a > Delete </a></div>
        </div>
      </div>
    
    </nav>
    
    
    
  </header>

<main>

<section>
  

  <div id="clone">
    <div id="div_1">
      <div class="column">
        <span class="large-text">
          Beneficiary Information 
        </span>

      <div class="input-box">
        <label for="certificate_no_input">
          Certificate No: 
        </label>
        <input placeholder="B2CF69124MKPN578GHP"
        type="text" name="certificate_no_input" id="certificate_no_input">
      </div>
      <div class="input-box">
        <label for="Name_input">Name</label>
        <input placeholder="Full Name"
        type="text" name="Name_input" id="Name_input">
      </div>
      <div class="input-box">
        <label for="national_id_input"> National ID: </label>
        <input placeholder="N/A"
        type="text" name="" id="national_id_input">
      </div>
      <div class="input-box">
        <label for="birth_no_input">Birth No:</label>
        <input placeholder="N/A"
        type="text" name="birth_no_input" id="birth_no_input">
      </div>
      <div class="input-box">
        <label for="passport_no_input">
          Passport No:
        </label>
        <input placeholder="N/A"
        type="text" name="passport_no_input" id="passport_no_input">
      </div>
      <div class="input-box">
        <label for="gender_input">
          Gender 
        </label>
        <input 
        placeholder="Male/Female"
        type="text" 
        
        name="gender_input" 
        id="gender_input">
      </div>
      <div class="input-box">
        <label for="nationality_input">Nationality</label>
        <input placeholder="Bangladeshi "
        type="text" name="nationality_input" id="nationality_input">
      </div>
      <div class="input-box">
        <label for="vaccination_by_input">Vaccination by </label>
        <input placeholder=""
        value="Directorate General of Health Services (DGHS)"
        type="text"
        name="vaccination_by_input"
        id="vaccination_by_input">
      </div>

    </div>
      <div class="column">
        <span  class="large-text"> Vaccination Details </span>

      <div class="input-box">
        <label for="date_of_vaccination_input">
          Date of Vaccination
          </label>
        <input placeholder="12-08-2022"
        type="text" name="date_of_vaccination_input" id="date_of_vaccination_input">
      </div>
      <div class="input-box">
        <label for="vaccine_name_input">Name of Vaccine </label>
        <input placeholder="Pfizer (Pfizer-BioNTech)"
        type="text" name="vaccine_name" id="vaccine_name_input">
      </div>
      
      <div class="input-box">
        <label for="date_of_vaccination_dose_2_input">
          Date of Vaccine (Dose-2)
        </label>
        <input placeholder="20-01-2024"
        type="text" name="date_of_vaccination_dose_2" id="date_of_vaccination_dose_2_input">
      </div>
      <div class="input-box">
        <label for="vaccine_name_input">Name of Vaccine </label>
        <input placeholder="Pfizer (Pfizer-BioNTech)"
        type="text" name="vaccine_name" id="vaccine_name_input">
      </div>
            <div class="input-box">
        <label for="date_of_vaccination_dose_3_input">
          Date of Vaccine (Dose-3)
        </label>
        <input placeholder="20-01-2024"
        type="date" name="date_of_vaccination_dose_3" id="date_of_vaccination_dose_3_input">
      </div>
          <div class="input-box">
        <label for="vaccine_name_input">Name of Vaccine </label>
        <input placeholder="Pfizer (Pfizer-BioNTech)"
        type="text" name="vaccine_name" id="vaccine_name_input">
      </div>

   
      <div class="input-box">
        <label for="">
          Vaccination Center
        </label>
        <input placeholder="Dhaka Medical College Hospital "
        type="text" name="vaccination_center" id="vaccination_center_input"
        >
      </div>
      <div class="input-box">
        <label for="">Total Dose Given</label>
        <input placeholder="Number of Dose that you have took... "
        type="number" name="total_dose" id="total_dose_input">
      </div>
     
    </div>

    </div>
    <div id="div_2">
      <button>Save & Download </button>
    </div>
    

  </div>
  
  
</section>
    
</main>

</body>

  </html>



