
<!DOCTYPE html>
<html>

<!-- ইনশাআল্লাহ  بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ ﷺ -->  

<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login to our Website Page</title>
  

<link rel="stylesheet" href="">

<!-- Link  Section -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
<!--
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
 <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="/file/css/Header.css">

<link rel="stylesheet" href="/file/css/Login.css">


  
</head>

<body>
  
  <!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ   -->
  
  
  


<!-- main body Section -->

<main>
 <section id="loginSection">
   <div id="loginBox">
     <div id="loginBox-div">
        <img id="loginBox-image" src="/file/image/logo.png" alt="logo" />
           <p>Login With Denmark</p>
     </div>
    
  
     <form action="/login" method="post">
       <div class="inp-div">
         <label for="emailInput">Email</label>
         <input
         style="border-bottom: 1.5px solid green;"
         type="text" 
         name="email" 
         class="emailInput" id="emailInput" 
         value="" 
         placeholder="Enter Email"/>
       </div>
       <div class="inp-div">
          <label for="passInput">Password </label>
          <input type="password" name="password" id="passInput" class="passInput" placeholder="Enter Password" value="" />
         </div >
    <div id="login-btn-div">
         <button id="login-btn"> Login </button>
         <a href="">forget password</a>
    </div>
    <div
    style="display: flex;
    flex-direction: row;
    justify-content: center;"
    >
      <p  style="font-size:22px">Don't have an account? <a id="log-box-reg-btn" href="">
       
        Sign Up
      </a></p>
      
     
     
    </div>
          
       </div>
     </form>
   </div>
 </section>
</main>




<script src="/file/javascript/Header.js"></script>
<script src="/file/javascript/login.js"></script>
</body>

</html>
