<!DOCTYPE html>
<html>
<!--بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  -->
<!-- ইনশাআল্লাহ -->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> নতুন নিবন্ধন</title>
  
  <!--Link Section-->
    <link rel="stylesheet" href="/file/css/Header.css">
    <link rel="stylesheet" href="/file/css/New_Nibondon.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
 <!--
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>


<body>
  
  
  <!--Header Section-->
  <header>
    <nav>
    
      <div id="nav-div-1">
        <button class="toggle-btn" style="border: none" id="nav-menu-btn">
          <i 
          style="font-size: 20px"
          class="fa-solid fa-bars">
          </i>
        </button>
  
      </div>
      <div id="bar" class="menu-bar ">
        <button class="cencel-Btn">
          <i class="fa-solid fa-cancel "></i>
        </button>
        <div id="menu-bar-logo-div" class="menu-bar-items">
          <img class="logo" src="http://localhost:4000/file/image/logo.png" alt="logo">
          <p>
            Denmark
          </p>
          
        </div>
        
        <div class="menu-bar-items">
         <a> নতুন এনআইডি</a>
        </div>
          <div class="menu-bar-items">
         <a> পূরাতন নিবন্ধন </a>
        </div>
        <div class="menu-bar-items">
      <a>মৃত্যু নিবন্ধন </a>
        </div>
          <div class="menu-bar-items">
      <a>সার্ভার কপি </a>
        </div>
        
          <div class="menu-bar-items">
      <a> সুরক্ষা ক্লোন</a>
        </div>
        <div class="menu-bar-items">
          <a>প্রোপাইল</a>
        </div>
        
      </div>
      <div id="nav-div-2">
        <p class="nav-text">
          <b>Hello!</b> Denmark, Welcome to Pro Server. Be very careful and stay safe.
        </p>
      </div>
      <div id="nav-div-3">
        <span id="balance-span">
          টাকা ৫
        </span>
        <button id="nav-div3-btn2">
          <i style="padding: 0px 7px 0px 7px; font-size: 20px" class="fa-regular fa-bell"></i>
        </button>
    
        <button style="padding: none;border: none;" id="nav-div3-btn3">
          <img src="http://localhost:4000/file/image/avater.png" " alt="profile">
        </button>
        <div class="ProfileSlider">
          <i style="font-size: 1.5em ; color: black ;" class="fa-solid fa-user-check"></i>
            <div><i class="fa fa-user" aria-hidden="true"></i><a href="/page/profile"> Profile </a></div>
            <div>  <i class="fa fa-sign-out" aria-hidden="true"></i><a > Log Out </a></div>
            <div> <i class="fa fa-user-times" aria-hidden="true"></i> <a > Delete </a></div>
        </div>
      </div>
    
    </nav>
    
    
    
  </header>

<!--Header Script--> 
<script src="/file/javascript/Header.js"></script>




<main>
<section id="new-nibondon">
  <div class="new-nibondon-div">
    <div class="row" id="1st-div">
      <div class="input-box">
        <label for="reg-off-address-ipn">
           Register Office Adress
        </label>
        <input placeholder="Sayedabad,Dhaka" type="text" name="" id="reg-off-address-ipn">
      </div>
      <div class="input-box">
       <label for="sub-district-inp">Upazila/Paurashava/City Corporation,Zila</label>
       <input placeholder="Sitakundu,Chittagong" type="text" name="" id="sub-district-inp">
      </div>
    </div>
    <div class="input-box" id="2nd-div">
      <label for="Birth-reg-num-inp"> Birth Registration Number</label>
      <input type="text" placeholder="2057239000065349937" name="" id="Birth-reg-num-inp">
    </div>
    <div class="row" id="3rd-div" >
      <div class="column">
        <div class="input-box">
          <label for="Dt-of-reg-inp">Date of Registration 
          </label>
          <input placeholder="26/7/2023" type="text" id="Dt-of-reg-inp">
        </div>
         <div class="input-box">
           <label for="dt-of-brt-inp">Date of Birth</label>
           <input id="dt-of-brt-inp" placeholder="20/56/2021" type="text">
         </div>
          <div class="input-box">
            <label for="name-b-inp">নাম বাংলা</label>
            <input placeholder="সম্পূর্ণ নাম" id="name-b-inp" type="text">
          </div>
           <div class="input-box">
             <label for="fa-name-bangla-inp">পিতার নাম </label>
             <input id="fa-name-bangla-inp" placeholder="পিতার নাম লেখুন" type="text">
           </div>
          
           <div class="input-box">
             <label for="mo-name-bd-inp">মাতার নাম</label>
             <input placeholder="মাতার নাম লিখুন... " id="mo-name-bd-inp" type="text">
           </div>
            <div class="input-box">
              <label for="br-place-bd-inp">জন্মস্থান</label>
              <input placeholder="ঢাকা,বাংলাদেশ" id="br-place-bd-inp" type="text">
            </div>
             <div class="input-box">
               <label for="p-adress-bd-inp">স্থায়ী ঠিকানা</label>
               <input class="long_input" placeholder="স্থায়ী ঠিকানা লিখুন... " id="p-adress-bd-inp" type="text">
             </div>
             <div class="input-box">
               <label for="fa-nationality-bd-inp"> বাবার জাতীয়তা (বাংলা)
               </label>
               <input placeholder="বাংলাদেশী" id="fa-nationality-bd-inp" type="text">
             </div>
             <div class="input-box">
               <label for="mo-nationality-bd-inp">মাতার জাতীয়তা</label>
               <input placeholder="বাংলাদেশী" id="mo-nationality-bd-inp" type="text">
             </div>
      </div>
      <div class="column">
        <div class="input-box">
          <label for="date-of-issuance-input">
            Date Of Issuance
          </label>
          <input placeholder="07/07/2007" id="date-of-issuance-input" type="text">
        </div>
        <div class="input-box">
          <label for="Gender-input">Gender</label>
          <input placeholder="Male/Female" name="gender" id="Gender-input" type="text">
        </div>
        
       <div class="input-box">
           <label for="name_en_inp"> Name</label>
            <input placeholder="Enter your name" id="name_en_inp" type="text">
       </div>
        <div class="input-box">
          <label for="fa-name-eng-input">Fathers Name  English </label>
          <input placeholder="বাবার নাম ইংরেজিতে..." id="fa-name-eng-input" type="text">
        </div>
        <div class="input-box">
          <label for="mother_name_english_input">
            Mother Neme
          </label>
          <input placeholder="Enter Your Mother Name" id="mother_name_english_input" type="text">
        </div>
        

        <div class="input-box">
          <label for="place_of_birth_input">Place Of Brith</label>
          <input placeholder="Dhaka, Bangladesh " id="place_of_birth_input" type="text">
        </div>
        <div class="input-box">
          <label for="permanent_address_english_input" >
            Permanent Adress
          </label>
          <input id="permanent_address_english_input" 
          class="long_input" 
          placeholder="Enter permanent adress..."
          type="text">
        </div>
        <div class="input-box">
          <label 
          for="father_nationality_English_input">
            Father Nationality 
          </label>
          <input placeholder="Bangladeshi"
          id="father_nationality_English_input"
          type="text">
        </div>
        <div class="input-box">
          <label 
          for="mother_nationality_English_input">
            Mother Nationality 
          </label>
          <input placeholder="Bangladeshi"
          id="mother_nationality_English_input"
          type="text">
       </div>

      </div>
    </div>
    <div class="btn_div" >
      <button> Save & Download </button>
    </div>
  </div>
 
</section>
</main>





</body>




</html>





