<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> নতুন এনআইডি</title>
  
  <!-- Link Section  --> 
  <link rel="stylesheet" href="/file/css/Header.css">
  <link rel="stylesheet" href="/file/css/New_Nid.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap" rel="stylesheet">

   <!-- 

   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
 
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  
</head>

<body>

  <header>
    <nav>
    
      <div id="nav-div-1">
        <button class="toggle-btn" style="border: none" id="nav-menu-btn">
          <i 
          style="font-size: 20px"
          class="fa-solid fa-bars">
          </i>
        </button>
  
      </div>
      <div id="bar" class="menu-bar ">
        <button class="cencel-Btn">
          <i class="fa-solid fa-cancel "></i>
        </button>
        <div id="menu-bar-logo-div" class="menu-bar-items">
          <img class="logo" src="http://localhost:4000/file/image/logo.png" alt="logo">
          <p>
            Denmark
          </p>
          
        </div>
        
        <div class="menu-bar-items">
         <a> নতুন এনআইডি</a>
        </div>
          <div class="menu-bar-items">
         <a> পূরাতন নিবন্ধন </a>
        </div>
        <div class="menu-bar-items">
      <a>মৃত্যু নিবন্ধন </a>
        </div>
          <div class="menu-bar-items">
      <a>সার্ভার কপি </a>
        </div>
        
          <div class="menu-bar-items">
      <a> সুরক্ষা ক্লোন</a>
        </div>
        <div class="menu-bar-items">
          <a>প্রোপাইল</a>
        </div>
        
      </div>
      <div id="nav-div-2">
        <p class="nav-text">
          <b>Hello!</b> Denmark, Welcome to Pro Server. Be very careful and stay safe.
        </p>
      </div>
      <div id="nav-div-3">
        <span id="balance-span">
          টাকা ৫
        </span>
        <button id="nav-div3-btn2">
          <i style="padding: 0px 7px 0px 7px; font-size: 20px" class="fa-regular fa-bell"></i>
        </button>
    
        <button style="padding: none;border: none;" id="nav-div3-btn3">
          <img src="http://localhost:4000/file/image/avater.png" " alt="profile">
        </button>
        <div class="ProfileSlider">
          <i style="font-size: 1.5em ; color: black ;" class="fa-solid fa-user-check"></i>
            <div><i class="fa fa-user" aria-hidden="true"></i><a href="/page/profile"> Profile </a></div>
            <div>  <i class="fa fa-sign-out" aria-hidden="true"></i><a > Log Out </a></div>
            <div> <i class="fa fa-user-times" aria-hidden="true"></i> <a > Delete </a></div>
        </div>
      </div>
    
    </nav>
    
    
    
  </header>

  <main>
    <!--New Nid section --> 
      <section id="New-Nid">
        <form id="upload-div">
        
           <label style="cursor:crosshair" for="file"> <i class="fa-regular fa-file"></i>
           
           <p> সাইন কপি আপলোড করেন,<br>
           অথবা <br>
           পিডিএফ ফাইল নির্বাচন করেন 
           </p>
           </label>
           <input accept="application/pdf" minlength="2" style="display: none;" type="file" 
           name="file"
            id="file" >
        <button id="upload-btn" > Submit </button>
       
          </form>
        <div id="information-and-download-div">
          <div class="information">
            <div class="row-info">
              <div 
              style="padding-left:35px ;padding-right:12.5 ;"

              class="column">
                
                <div class="file-input-box">
                  <span style="display: flex; flex-direction:column;">
                    <label for="nid-pic">এনআইডির ছবি</label>
                    <div class="file-label-box">
                      <label style="padding-left: 5px;
                      width: 7rem;
                      " for="nid-pic">Choose file</label>
                      <label style="width:16rem;
                      padding-right: 0px;
                      padding-left: 3.5px;
                      border-right: 0px;"
                      for="nid-pic" >No file Choosen</label>
                      
                      <input
                      style="display: none"
                      type="file" 
                      name="nid_pic"
                      id="nid-pic">
                    </div>
                  </span>
                 
                  
                </div>
                <div class="input-box">
                  <label for="name-b">নাম(বাংলা) </label>
                  <input type="text" placeholder="সম্পূর্ণ নাম বাংলায়" name="" id="name-b">
                </div>
                <div class="input-box">
                   <label for="nid-num-inp">এনআইডি নাম্বার</label>
                   <input type="text"  placeholder="এনআইডি নাম্বার" id="nid-num-inp">
                 </div>
                <div class="input-box">
                    <label for="fa-name-inp">পিতার নাম (বাংলা)</label>
                    <input type="text" placeholder="পিতার নাম বাংলায়" name="" id="fa-name-inp">
                  </div>
                <div class="input-box">
                     <label for="b-place-inp">জন্মস্থান</label>
                     <input placeholder="জন্মস্থান (অঞ্চল)"
                     type="text" name="" id="b-place-inp">
                   </div>
                <div class="input-box">
                      <label for="blood-group-inp">রক্তের গ্রুপ</label>
                      <input placeholder="B+" type="text" name="" id="blood-group-inp">
                    </div>
              </div>
              <div
              style="padding-left: 12.5px;
              padding-right: 25px;"
              class="column">
                <!-- file input-->
                <div class="file-input-box">
                  <span style="display: flex; flex-direction:column;">
                    <label for="nid-pic"> Signature Image</label>
                    <div class="file-label-box">
                      <label style="padding-left: 5px;
                      width: 7rem;
                      " for="nid-pic">Choose file</label>
                      <label style="width:16rem;
                      padding-right: 0px;
                      padding-left: 3.5px;
                      border-right: 0px;"
                      for="nid-pic" >No file Choosen</label>
                      
                      <input
                      style="display: none"
                      type="file" 
                      name="signature_pic"
                    id="signature-pic">
                    </div>
                  </span>
                  
                  
                </div>
                 <div class="input-box">
                   <label for="name-e-inp">নাম (English)</label>
                   <input type="text" placeholder="সম্পূর্ণ নাম ইংরেজিতে " name="" id="name-e-inp">
                  </div>
                   <div class="input-box">
                    <label for="pin-inp">পিন নাম্বার</label>
                    <input type="text" placeholder="পিন নাম্বার " name="" id="pin-inp" >
                  </div>
                <div class="input-box">
                  <label for="mother-name-inp">মাতার নাম (বাংলা)</label>
                  <input placeholder="মাতার নাম" type="text" name="" id="mother-name-inp">
                </div>
                 <div class="input-box">
                   <label for="date-birth-inp">জন্ম তারিখ
                   </label>
                   <input placeholder="20 April 1985" type="text" name="" id="date-birth-inp">
                 </div>
                
                 <div class="input-box">
                     <label for="given-date-inp">প্রদানের তারিখ</label>
                     <input placeholder="20/7/2024" type="text" name="" id="given-date-inp">
                   </div>

                
              </div>
            </div>
            <div class="column-info">
              <label for="area-inp">ঠিকানা</label>
              <input type="text" name="" id="area-inp">
            </div>
          </div>
         <div class="download-div">
           <button>Save & Download  </button>
         </div>
        </div>
        
      </section>
  </main>

</body>

<!-- Header Script-->
<script src="/file/javascript/Header.js">
  
</script>
<script src="/file/javascript/new_nid.js">


</script>
</html>
