<!DOCTYPE html>

<!-- بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ  ﷺ  -->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Profile - Denmark </title>
    

    
    
    <link rel="stylesheet" href="/file/css/profile.css">
    <link rel="stylesheet" href="/file/css/Header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
  <header>
    <nav>
    
      <div id="nav-div-1">
        <button class="toggle-btn" style="border: none" id="nav-menu-btn">
          <i 
          style="font-size: 20px"
          class="fa-solid fa-bars">
          </i>
        </button>
  
      </div>
      <div id="bar" class="menu-bar ">
        <button class="cencel-Btn">
          <i class="fa-solid fa-cancel "></i>
        </button>
        <div id="menu-bar-logo-div" class="menu-bar-items">
          <img class="logo" src="http://localhost:4000/file/image/logo.png" alt="logo">
          <p>
            Denmark
          </p>
          
        </div>
        
        <div class="menu-bar-items">
         <a> নতুন এনআইডি</a>
        </div>
          <div class="menu-bar-items">
         <a> পূরাতন নিবন্ধন </a>
        </div>
        <div class="menu-bar-items">
      <a>মৃত্যু নিবন্ধন </a>
        </div>
          <div class="menu-bar-items">
      <a>সার্ভার কপি </a>
        </div>
        
          <div class="menu-bar-items">
      <a> সুরক্ষা ক্লোন</a>
        </div>
        <div class="menu-bar-items">
          <a>প্রোপাইল</a>
        </div>
        
      </div>
      <div id="nav-div-2">
        <p class="nav-text">
          <b>Hello!</b> Denmark, Welcome to Pro Server. Be very careful and stay safe.
        </p>
      </div>
      <div id="nav-div-3">
        <span id="balance-span">
          টাকা ৫
        </span>
        <button id="nav-div3-btn2">
          <i style="padding: 0px 7px 0px 7px; font-size: 20px" class="fa-regular fa-bell"></i>
        </button>
    
        <button style="padding: none;border: none;" id="nav-div3-btn3">
          <img src="http://localhost:4000/file/image/avater.png" " alt="profile">
        </button>
        <div class="ProfileSlider">
          <i style="font-size: 1.5em ; color: black ;" class="fa-solid fa-user-check"></i>
            <div><i class="fa fa-user" aria-hidden="true"></i><a href="/page/profile"> Profile </a></div>
            <div>  <i class="fa fa-sign-out" aria-hidden="true"></i><a > Log Out </a></div>
            <div> <i class="fa fa-user-times" aria-hidden="true"></i> <a > Delete </a></div>
        </div>
      </div>
    
    </nav>
    
    
    
  </header>



  <div class="container">
    <div class="profile">
      <div class="first_icon_profile">
        <i class="fa-solid fa-ranking-star"></i>
        <i  class="fa-solid fa-gears"></i>
      </div>
      <div class="profile-box-image">
<i style="font-size: 3em" class="fa-solid fa-user-check"></i>
      </div>
      <div  class="profile-box">
        
        <p  style="background:transparent;" class="profile_name"><%=name %></p>
      </div>
      <div class="icon-box">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-square-x-twitter"></i>
<i class="fa-brands fa-linkedin"></i>
  
  
      </div>
      <div style="justify-content:start; padding-left: 2.5em" class="profile-box">
<i style="font-size: 20px; " class="fa-regular fa-envelope"></i>
<p class="email"><%=email %></p>
      </div>
      <div style="justify-content:start;padding-left: 2.5em" class="profile-box">
       <i style="font-size: 20px;" class="fa-solid fa-blender-phone"></i>
        <p class="phone"><%=phone %></p>
      </div>
      <div class="end_box">
        <button>Update Balance</button>
      </div>
    </div>
   
  </div>
</body>



<style>
</style>
  
</html>