<!--  بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ     -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up to Denmark</title>
  <link rel="stylesheet" href="/file/css/SignUp.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap" rel="stylesheet">
<!--
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <!--ইনশাআল্লাহ, بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ ﷺ -->
  
  
  <!--Header Section -->


<main>
  <!--Tab to edit-->

  <section id="Register">
    <div style="background: transparent" class="row">
     

    <form enctype="text/plain" id="Register-Form">
      <div id="SignUp-div">
          <img id="SignUp-image" src="/file/image/logo.png" alt="logo" />
          <p>Sign Up to Denmark</p>
        </div>
        
        <div class="column">
         <label for="Name-Input">Name</label>
         <input
         class="form-input"
         type="text" 
         name="email" 
         id="Name-Input" 
         value="" 
         placeholder="Enter Name"/>

       
     <div class="column">
         <label for="email-Input">Email</label>
         <input
         class="form-input"
          
         type="text" 
         name="email" 
         id="email-Input" 
         value="" 
         placeholder="Enter Email"/>
      </div>
      <div class="column">
         <label for="phone-Input">Phone</label>
         <input
         class="form-input"
         
         type="number" 
         name="phone" 
         id="phone-Input" 
         value="" 
         placeholder="Enter phone"/>
     </div>
     <div class="column">
         <label for="password-Input">Password</label>
         <input
         class="form-input"
         id="password-Input"
         type="text" 
         name="password " 
         class="password-Input" 
         value="" 
         placeholder="Enter Password"/>
      
     </div>
     
        <div class="column">
         <label for="C-Password-Input">Confirm Password </label>
         <input
         class="form-input"
         
         type="text" 
         name="cpassword " 
          id="C-Password-Input"
         value="" 
         placeholder="Enter Password "/>
       </div>
       <div class="row">
         <button class="sign-up-btn">Sign Up</button>
       </div>
       <div class="row">
         <p class="login-link-p">
           Have an account?
         </p>&nbsp;
         <a href="/page/login"
         class="login-link-a">Sign In
         </a>
       </div>
    </form>
   </div>
</section>
<script src="/file/javascript/singup.js"></script>
</main>
</body>

</html>




